# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore nwb files
*.nwb 

# Ignore .npy files
*.npy

# Ignore Model Checkpoints
*.pth 
*.pt
*.h5
*.ckpt

# Ignore environment-specific files
.env

# Ignore package-lock.json for npm
package-lock.json

# Ignore compiled files
/dist/

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/


# ignore .onnx

*.onnx
